body{background: #fff}

.boxData{display: inline-block; height: 23px; border: 1px solid; border-right: none ; padding:0 0 0 5px; box-sizing:border-box; vertical-align: top;}

.blockText{padding: 0 0 0 5px; font-size: 0.7em; border: 1px solid; border-radius: 5px;display: inline-block;}
.blockText .closeBtn {border-radius: 5px; border: 1px solid; padding: 0 5px;margin-left: 5px;}
.blockText .closeBtn:HOVER{background: #eee; cursor: pointer;}
.close{ border-radius: 5px; border: 1px solid; padding: 0 5px}
.close:HOVER{ background: #eee; cursor: pointer;}

.specialInput {border: 1px solid; box-sizing:border-box; width: 150px; height: 23px; border-left: none; box-sizing:border-box;vertical-align: top;}
/*
.list {display: inline-block; height: 23px; border: 1px solid; border-right: none ; padding:0 5px; box-sizing:border-box;} 
.list .blockText{ display: inline-block;}
.specialInput1 {border: 1px solid; box-sizing:border-box; width: 150px; height: 23px; border-left: none; box-sizing:border-box;}
*/