@headerHeight: 100px;
@footerHeight: 100px;

html, body {height:100%; background:#fff}

.main { min-height:100%; border: 1px solid; box-sizing:border-box;}
.header{ height: 100px}

.cont{padding-bottom: @footerHeight; border: 1px solid #f00;
	.adminUsersList, .adminProjectsList{ float:left; width:50%;}
}

.footer{ height:@footerHeight; margin-top:-@footerHeight; border: 1px solid #ff0; box-sizing:border-box;}

