html,
body {
  height: 100%;
  background: #fff;
  font: 14px Arial;
  color: #333;
}
DIV {
  font-size: 14px;
}
.contentBox {
  max-width: 936px;
  box-sizing: border-box;
  margin: 0px auto;
}
.clearfix:before {
  display: table;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
  height: 0px;
}
.main {
  min-height: 100%;
  box-sizing: border-box;
}
.header .raitingBox {
  height: 48px;
  background: #f6f6f6;
  box-sizing: border-box;
  /*.contentBox {.centerBox();}*/
}
.header .raitingBox .raiting {
  float: left;
  padding-top: 9px;
}
.header .raitingBox .raiting .name {
  color: #949698;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}
.header .raitingBox .raiting .name SPAN {
  color: #000;
  padding-left: 3px;
}
.header .raitingBox .raiting .ratingBg {
  margin: 5px 10px 0 ;
  background: url("../img/sprites_stars.png") top left no-repeat;
  height: 10px;
  width: 65px;
  display: inline-block;
}
.header .raitingBox .raiting .rating {
  position: relative;
  top: 0;
  left: 0;
  width: 95%;
  height: 10px;
  background: url("../img/sprites_stars.png") 0px -10px no-repeat;
}
.header .raitingBox .signInBox {
  float: right;
  line-height: 48px;
}
.header .raitingBox .signInBox A {
  padding: 0 13px;
  color: #333;
  text-decoration: none;
}
.header .raitingBox .signInBox A:HOVER {
  text-decoration: underline;
}
.header .logoBox:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.header .logoBox {
  text-align: justify;
  font-size: 0;
}
.header .logoBox .logoContact {
  display: inline-block;
  text-align: left;
}
.header .logoBox .logo {
  background: url("../img/logo.png") top left no-repeat;
  width: 194px;
  height: 96px;
  margin: 22px 47px 48px 0px;
  display: inline-block;
  vertical-align: middle;
}
.header .logoBox .contact {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 20px;
}
.header .logoBox .contact DIV {
  line-height: 24px;
  font-size: 18px;
}
.header .logoBox .contact .phone {
  color: #dc5047;
}
.header .logoBox .contact .timeWork {
  font-size: 14px;
}
.header .logoBox .cartSearch {
  display: inline-block;
  vertical-align: middle;
}
.header .logoBox .cartSearch .cart {
  border: 1px solid black;
  background: #333;
  color: #fff;
  display: block;
  font-size: 18px;
  padding: 9px 0px;
  text-decoration: none;
  margin-bottom: 24px;
}
.header .logoBox .cartSearch .cart SPAN {
  background: url("../img/cart_icon.png") 5px top no-repeat;
  padding: 0px 28px;
}
.header .logoBox .cartSearch .search {
  font-size: 0px;
}
.header .logoBox .cartSearch .search INPUT {
  border: 1px solid #333;
  width: 100%;
  font-size: 14px;
  border-right: none;
  padding: 4px 27px 4px 8px;
  display: inline-block;
  box-sizing: border-box;
}
.header .logoBox .cartSearch .search BUTTON {
  background: #fff;
  display: inline-block;
  border: 1px solid #333;
  border-left: none;
  width: 27px;
  background: url("../img/search_icon.png") 4px 4px no-repeat;
  padding: 17px 6px 7px;
  margin-left: -27px;
}
.header .menu {
  background: #333;
  text-transform: capitalize;
}
.header .menu A {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  height: 72px;
  padding: 0 25px;
  font-size: 18px;
  text-decoration: none;
}
.header .menu A:HOVER {
  color: #333;
  background: #fff;
}
.cont {
  padding-bottom: 430px;
  padding-top: 83px;
}
.cont .banner {
  background: url("../img/banner.jpg");
  width: 936px ;
  height: 336px;
  margin: 83px auto 10px;
  color: #fff;
  display: table-cell;
  vertical-align: bottom;
}
.cont .banner .bannerText {
  width: 340px;
  margin: 0px 0px 56px 6%;
  text-align: center;
  font-size: 32px;
}
.cont .banner A {
  display: inline-block;
  margin-top: 35px;
  border: 1px solid;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  padding: 7px 50px;
}
.cont .banner A:HOVER {
  background: rgba(255, 255, 255, 0.2);
}
.cont .banner .switches {
  text-align: center;
}
.cont .banner .switches .radio {
  display: none;
}
.cont .banner .switches .radio + LABEL {
  cursor: pointer;
}
.cont .banner .switches .radio + LABEL:BEFORE {
  content: "";
  border-radius: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  display: inline-block;
  padding: 4px;
  box-sizing: border-box;
  margin: 0px 5px 10px;
}
.cont .banner .switches .radio + LABEL:AFTER {
  content: "";
  background: none;
  border-radius: 3px;
  width: 6px;
  height: 6px;
  display: inline-block;
  position: relative;
  top: -15px;
  left: -16px;
}
.cont .banner .switches .radio:CHECKED + LABEL:AFTER {
  content: "";
  background: #fff;
  border-radius: 3px;
  width: 6px;
  height: 6px;
  display: inline-block;
  position: relative;
  top: -15px;
  left: -16px;
}
.cont .banner .switches LABEL:CHECKED SPAN {
  background: #fff;
  border-radius: 3px;
  width: 6px;
  height: 6px;
  display: block;
}
.cont .banner .switches DIV {
  border-radius: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  display: inline-block;
  padding: 4px;
  box-sizing: border-box;
  margin: 0px 5px 10px;
}
.cont .banner .switches DIV SPAN {
  background: #fff;
  border-radius: 3px;
  width: 6px;
  height: 6px;
  display: block;
}
.cont H2 {
  margin: 44px 0px 7px;
  padding: 0px;
  font-size: 20px;
  text-transform: capitalize;
}
.cont .featuredBox {
  text-align: justify;
  font-size: 0;
}
.cont .featuredBox:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.cont .itemProduct {
  display: inline-block;
  width: 220px;
  border: 1px solid #bdbdbd;
  padding: 10px;
  box-sizing: border-box;
  vertical-align: top;
  margin-top: 20px;
}
.cont .itemProduct .nameProduct IMG {
  margin-bottom: 10px;
}
.cont .itemProduct .nameProduct DIV {
  height: 16px;
}
.cont .itemProduct A.nameProduct {
  text-decoration: none;
  color: #333;
}
.cont .itemProduct A.nameProduct:HOVER {
  text-decoration: underline;
}
.cont .itemProduct .priceProduct {
  color: #dc5047;
  font-size: 20px;
  padding: 12px 0px;
}
.cont .itemProduct .oldPrice {
  color: #bdbdbd;
  padding-left: 7px;
  font-size: 14px;
  text-decoration: line-through;
}
.cont .itemProduct .buttons A {
  text-decoration: none;
  display: inline-block;
  border: 1px solid #bdbdbd;
  padding: 4px 5px;
  color: #333;
  font-size: 18px;
}
.cont .itemProduct .buttons A:HOVER {
  color: #fff;
  background: #333;
}
.cont .itemProduct .buttons A.view {
  padding: 4px 15px;
  float: right;
}
.cont .bestSellersBox {
  text-align: justify;
  font-size: 0;
}
.cont .bestSellersBox:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.cont .reasonBox:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.cont .reasonBox {
  text-align: justify;
  font-size: 0;
  margin: 20px 0 60px 0;
}
.cont .reasonBox .reason {
  width: 300px;
  display: inline-block;
}
.cont .reasonBox .reason .title {
  font-size: 22px;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.cont .reasonBox .reason .title .iconBg {
  width: 46px;
  height: 46px;
  vertical-align: middle;
  border-radius: 23px;
  background: #333;
  margin: 0px 7px 0px 3px;
  display: inline-block;
  box-sizing: border-box;
  padding: 11px 0 0 9px;
}
.footer {
  height: 430px;
  margin-top: -430px;
  box-sizing: border-box;
}
.footer .signUpBg {
  background: #333;
  color: #fff;
}
.footer .signUpBg .signUpBox:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.footer .signUpBg .signUpBox {
  text-align: justify;
  font-size: 0;
}
.footer .signUpBg .signUpBox > DIV {
  display: inline-block;
  width: 300px;
  box-sizing: border-box;
}
.footer .signUpBg .signUpText {
  line-height: 70px;
  font-size: 22px;
  text-transform: capitalize;
  vertical-align: middle;
}
.footer .signUpBg .signUpForm {
  font-size: 0;
  box-sizing: border-box;
  vertical-align: middle;
  padding: 17px 0;
}
.footer .signUpBg .signUpForm INPUT {
  height: 36px;
  border: none;
  background: #fff;
  color: #333;
  font-size: 14px;
  padding: 10px;
  box-sizing: border-box;
  vertical-align: middle;
}
.footer .signUpBg .signUpForm BUTTON {
  height: 36px;
  background: #f19200;
  font-size: 18px;
  border: none;
  padding: 0px 19px;
  vertical-align: middle;
}
.footer .signUpBg .social {
  padding-left: 30px;
  vertical-align: middle;
}
.footer .signUpBg .social A {
  width: 30px;
  height: 29px;
  display: inline-block;
  margin: 19px 20px 19px 0;
}
.footer .signUpBg .social A.google {
  background: url("../img/sprites_social.png") no-repeat;
}
.footer .signUpBg .social A.google:HOVER {
  background: url("../img/sprites_social.png") 0px -29px no-repeat;
}
.footer .signUpBg .social A.xz {
  background: url("../img/sprites_social.png") -30px 0 no-repeat;
}
.footer .signUpBg .social A.xz:HOVER {
  background: url("../img/sprites_social.png") -30px -29px no-repeat;
}
.footer .signUpBg .social A.twitter {
  background: url("../img/sprites_social.png") -60px 0 no-repeat;
}
.footer .signUpBg .social A.twitter:HOVER {
  background: url("../img/sprites_social.png") -60px -29px no-repeat;
}
.footer .signUpBg .social A.facebook {
  background: url("../img/sprites_social.png") -90px 0 no-repeat;
}
.footer .signUpBg .social A.facebook:HOVER {
  background: url("../img/sprites_social.png") -90px -29px no-repeat;
}
.footer .footerMenu:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.footer .footerMenu {
  margin-top: 72px;
  text-align: justify;
  font-size: 0;
}
.footer .footerMenu > DIV {
  display: inline-block;
  width: 217px;
  box-sizing: border-box;
  vertical-align: top;
  line-height: 22px;
}
.footer .footerMenu A {
  display: block;
  text-transform: capitalize;
  text-decoration: none;
  color: #333;
}
.footer .footerMenu A:HOVER {
  text-decoration: underline;
}
.footer .footerMenu .title {
  font-size: 22px;
  margin-bottom: 24px;
}
.footer .footerMenu .smallLogo {
  background: url("../img/logo_gray.png") 4px 4px no-repeat;
  padding-top: 94px;
  margin-right: 56px;
}
