@footerHeight: 430px;
@fontColor:    #333;
@raitingHeight: 48px;
@backgroundColor: #fff;

html, body {height:100%; background:@backgroundColor; font: 14px Arial; color: @fontColor}
DIV{ font-size: 14px}
.contentBox {  max-width: 936px;  box-sizing:border-box;  margin: 0px auto;}

.clearfix:before {display: table;}
.clearfix:after{content: ""; display: table; clear: both; height: 0px; }

.main { min-height:100%; box-sizing:border-box;}
.header{
	.raitingBox {height: @raitingHeight; background: #f6f6f6;  box-sizing:border-box; 
		/*.contentBox {.centerBox();}*/
		.raiting { float: left; padding-top: 9px;
			.name { color:#949698; text-transform: uppercase;  font-weight: bold; font-size: 16px;
				SPAN { color: #000; padding-left: 3px;}
			}
			.ratingBg{ margin: 5px 10px 0 ; background: url("../img/sprites_stars.png") top left no-repeat; height:10px; width: 65px; display: inline-block; }
			.rating{position: relative; top:0; left: 0; width:95%; height: 10px;background: url("../img/sprites_stars.png") 0px -10px no-repeat;}
		}
		.signInBox { float: right; line-height: @raitingHeight;
			A {padding: 0 13px; color:@fontColor; text-decoration: none;}
			A:HOVER { text-decoration: underline;}
		}
	}
.logoBox:after{content: ""; display: inline-block; width: 100%}
	.logoBox{ text-align: justify; font-size: 0;
		.logoContact{display: inline-block; text-align: left;}


		.logo{background: url("../img/logo.png") top left no-repeat; width: 194px; height: 96px; margin: 22px 47px 48px 0px; display: inline-block; vertical-align: middle;}
		.contact{ display: inline-block; vertical-align: middle; margin-bottom: 20px;
			DIV{line-height: 24px; font-size: 18px}
			.phone{ color: #dc5047}
			.timeWork{font-size: 14px}
		}

		

		.cartSearch{ display: inline-block; vertical-align: middle; 
			.cart{border:1px solid black;background: @fontColor; color: @backgroundColor; display: block; font-size: 18px; padding: 9px 0px; text-decoration: none; margin-bottom: 24px;
				SPAN{background: url("../img/cart_icon.png") 5px top no-repeat ;padding: 0px 28px;}
			}



			.search{ font-size: 0px;
				INPUT{height: 26px; border: 1px solid @fontColor; width: 100%; font-size: 14px; border-right: none; padding: 4px 27px 4px 8px; display : inline-block;box-sizing:border-box;vertical-align: middle;box-sizing: border-box;}
				BUTTON{height: 26px; background: @backgroundColor;  display : inline-block;  border: 1px solid @fontColor; border-left: none;   width: 27px; background: url("../img/search_icon.png") 4px 4px no-repeat; padding: 17px 6px 7px; margin-left: -27px;vertical-align: middle;box-sizing: border-box;

				}

			}
		}
	}

	.menu{ background: @fontColor;  text-transform:capitalize; 
		A{display: table-cell; vertical-align: middle;color: @backgroundColor;height: 72px; padding:0 25px; font-size: 18px; text-decoration: none;}
		A:HOVER{color: @fontColor; background: @backgroundColor;}
	}

}

.cont{padding-bottom: @footerHeight; padding-top: 83px;
	.banner{ background: url("../img/banner.jpg"); width: 936px ;height: 336px; margin: 83px auto 10px; color: #fff; display: table-cell; vertical-align: bottom;
		.bannerText{width: 340px; margin: 0px 0px 56px 6%; text-align: center; font-size: 32px}
		A{ display: inline-block; margin-top:35px;  border: 1px solid; color: #fff; text-decoration: none; font-weight: bold; font-size: 24px; padding: 7px 50px;}
		A:HOVER{ background: rgba(255,255,255,0.2);}
		.switches{ text-align: center;
			.radio{display: none;}
			.radio +LABEL{cursor: pointer;}
			.radio + LABEL:BEFORE{content:"";border-radius: 8px; width: 16px; height: 16px; border: 1px solid #fff; display: inline-block; padding: 4px; box-sizing:border-box; margin: 0px 5px 10px;}
			.radio + LABEL:AFTER{content:""; background: none; border-radius: 3px; width: 6px; height: 6px; display: inline-block; position: relative; top:-15px; left: -16px}
			.radio:CHECKED + LABEL:AFTER{content:""; background: #fff; border-radius: 3px; width: 6px; height: 6px; display: inline-block; position: relative; top:-15px; left: -16px}
			
			LABEL:CHECKED{
				SPAN {background: #fff; border-radius: 3px; width: 6px; height: 6px; display: block;}
			}
			DIV{ border-radius: 8px; width: 16px; height: 16px; border: 1px solid #fff; display: inline-block; padding: 4px; box-sizing:border-box; margin: 0px 5px 10px;
				SPAN {background: #fff; border-radius: 3px; width: 6px; height: 6px; display: block;}
			}

		}

	}
	H2{ margin: 44px 0px 7px; padding: 0px; font-size: 20px; text-transform:capitalize; }

	.featuredBox{ text-align: justify; font-size: 0;}
	.featuredBox:after{content: ""; display: inline-block; width: 100%; }
	.itemProduct{ display: inline-block;  width:220px; border: 1px solid #bdbdbd; padding: 10px;  box-sizing:border-box;  vertical-align: top; margin-top: 20px;
		.nameProduct{
			IMG{ margin-bottom: 10px}
			DIV{ height: 16px;}
		}

		A.nameProduct{text-decoration: none;color:@fontColor;}
			A.nameProduct:HOVER{text-decoration: underline;}

		.priceProduct{color: #dc5047; font-size: 20px; padding: 12px 0px}
		.oldPrice{color: #bdbdbd; padding-left: 7px; font-size: 14px; text-decoration:line-through }

		
		.buttons{
		A{text-decoration: none; display: inline-block; border: 1px solid #bdbdbd; padding: 4px 5px; color:@fontColor; font-size: 18px}
		A:HOVER{color: @backgroundColor; background:@fontColor ;}
		A.view{padding: 4px 15px; float: right;}
		}
	}

	.bestSellersBox{ text-align: justify; font-size: 0;}
	.bestSellersBox:after{content: ""; display: inline-block; width: 100%}


	.reasonBox:after{content: ""; display: inline-block; width: 100%}
	.reasonBox{ text-align: justify; font-size: 0; margin: 20px 0 60px 0;
		.reason{width: 300px; display: inline-block;
			.title{font-size: 22px; text-transform: capitalize; margin-bottom: 15px; 
			.iconBg{width: 46px; height: 46px; vertical-align: middle; border-radius: 23px; background: @fontColor; margin:0px 7px 0px 3px; display: inline-block; box-sizing:border-box; padding: 11px 0 0 9px}

			}
		}

	}
	
}

.footer{ height:@footerHeight; margin-top:-@footerHeight;  box-sizing:border-box;
	
	.signUpBg{ background: @fontColor; color: @backgroundColor; 
		.signUpBox:after{content: ""; display: inline-block; width: 100%};
		.signUpBox {text-align: justify; font-size: 0;
		>DIV{display: inline-block; width: 300px; box-sizing:border-box; }
	}
	.signUpText{ line-height: 70px; font-size: 22px; text-transform: capitalize; vertical-align: middle;}
	.signUpForm{ font-size: 0; box-sizing:border-box; vertical-align: middle; padding: 17px 0;
		INPUT{ height: 36px; border: none; background: @backgroundColor; color:@fontColor; font-size: 14px; padding: 10px; box-sizing: border-box; vertical-align: middle;}
		BUTTON{ height: 36px; background: #f19200; font-size:18px; border: none; padding: 0px 19px; vertical-align: middle;}
	}
	.social{ padding-left: 30px; vertical-align: middle;
		A{ width: 30px; height: 29px; display: inline-block; margin:19px 20px 19px 0;}
		A.google { background: url("../img/sprites_social.png") no-repeat;}
		A.google:HOVER { background: url("../img/sprites_social.png") 0px -29px no-repeat;}
		A.xz{background: url("../img/sprites_social.png") -30px 0 no-repeat;}
		A.xz:HOVER{background: url("../img/sprites_social.png") -30px -29px no-repeat;}
		A.twitter{background: url("../img/sprites_social.png") -60px 0 no-repeat;}
		A.twitter:HOVER{background: url("../img/sprites_social.png") -60px -29px no-repeat;}
		A.facebook{background: url("../img/sprites_social.png") -90px 0 no-repeat;}
		A.facebook:HOVER{background: url("../img/sprites_social.png") -90px -29px no-repeat;}
	}

	}

	.footerMenu:after{content: ""; display: inline-block; width: 100%};
	.footerMenu{margin-top: 72px; text-align: justify; font-size: 0;
		>DIV{display: inline-block; width: 217px; box-sizing:border-box; vertical-align: top; line-height: 22px}
		A{display: block; text-transform: capitalize; text-decoration: none; color: @fontColor;}
		A:HOVER{ text-decoration: underline;}
		.title{font-size: 22px; margin-bottom: 24px;}
		.smallLogo{ background: url("../img/logo_gray.png") 4px 4px no-repeat; padding-top: 94px; margin-right: 56px;}
		.information{

		}
		.customerService{

		}
		.companyInfo{

		}
	}
}

