@headerHeight: 100px;
@footerHeight: 30px;

html, body {height:100%; background:#fff}

.main { min-height:100%; box-sizing:border-box;}
.header{}

LABEL[required="required"]::AFTER {content: "*"; color:#f00}

#errorMsg{display:none}

.cont{padding-bottom: @footerHeight+40; 
	.adminUsersList, .adminProjectsList{ }
	

	
	.loadMoreActivitiesBtn{width: 100%; margin-top:20px}
	.activityBox{border:1px solid #aaa; border-radius:10px; padding:10px 10px ; margin-bottom:10px; 
	   .activityHeader{}
	   
    	.activityEmployee{font-weight:bold; float:left;}
    	.activityDate{float:right; border-radius:5px 5px 0px 0px; background: #ddd; padding: 0px 5px; border-bottom:1px solid #aaa}
    	.activityComment:before {content:""; display:block; }
    	.activityComment{border-top:1px solid #eee;clear:both;background: #f3f3f3; border-radius:5px 0px 5px 5px; padding:5px}
	}
	
	.taskListBox{
	   .taskItem{ margin-bottom:10px;
	       .counter{ border:1px solid #ccc; width:25px; text-align:center;}
	       .description{}
	       .psd{}
	   }
	}

	
	
	.loginForm{width:30%; margin:0px auto}
}

#taskForm {
	input[type="file"]{	display:inline-block;}
	.fileList DIV { text-align:left; }
	
}

#popUp{ width: 100%; position: fixed; height: 100%; background: rgba(0,0,0,0.4); top:0; left: 0; text-align:center; display:none;z-index:999;
	.before{ height: 100%; width: 0%; display: inline-block; vertical-align: middle;};
	.content{display: inline-block;vertical-align: middle; padding: 20px; background: #fff;  border:1px solid; width: 40%; z-index:999; border-radius: 20px}

}
.footer{ height:@footerHeight; margin-top:-@footerHeight;line-height:@footerHeight; box-sizing:border-box; border-top:1px solid #999; text-align:center; color:#aaa}

.control-label{text-transform:capitalize}


.errorFormMsg{display:none}



/*admin styles*/

@colorAdd: #5d5;
@colorEdit: #aa9;
@colorDelete: #d55;

#addEmployee, #addProject{text-align:right;
	SPAN {color:@colorAdd}
}
#addEmployee:HOVER, #addProject:HOVER{color:lighten(@colorAdd, 20%); cursor:pointer}
.editEmployee:HOVER, .deleteEmployee:HOVER, .editProject:HOVER, .deleteProject:HOVER {cursor:pointer}
.editEmployee:HOVER, .editProject:HOVER,    {cursor:pointer; color:lighten(@colorEdit, 20%)}
.deleteEmployee:HOVER, .deleteProject:HOVER {cursor:pointer; color:lighten(@colorDelete, 20%)}
.editEmployee, .editProject {color:@colorEdit; white-space:nowrap} 
.deleteEmployee, .deleteProject{color:@colorDelete; white-space:nowrap}


@colorBorderMembers: #ccc;
.employeesListForProject, .membersProject{
	.member{ border:1px solid @colorBorderMembers; border-radius:10px; margin-bottom:7px;height:24px;
	LABEL{margin:0px; line-height:16px}
	}
}
	.employeesListForProject{
		.rolesList{display:none}
		.add{display:inline; float:right; padding:0px 5px; border-left:1px solid @colorBorderMembers; background:@colorAdd; color:#fff; cursor:pointer; border-radius:0 10px 10px 0; height:24px}
		.add:HOVER{background:darken(@colorAdd,15%);}
		.del{display:none;}
	}

	.membersProject{
		.rolesList{display:inline;
			SELECT{width:50%; float:right;}
		}
		.del{display:inline; float:right; padding:0px 5px; border-left:1px solid @colorBorderMembers; background:@colorDelete; color:#fff; cursor:pointer; border-radius:0 10px 10px 0; height:24px}
		.del:HOVER{background:darken(@colorDelete,15%);}
		.add{display:none;}
	}
	
	
	
