@footerHeight: 70px;		/* footer height */
@footerBackground: #364654;
@infoStringBackground: #bfd4de;

html, body {height:100%; background:#fff; font-family: "Arial";}

.centerBox() {
  max-width: 1000px;
  box-sizing:border-box;
  margin: 0px auto;
}
.cl{clear: both;}

.main { min-height:100%; box-sizing:border-box;}
.header{ background: #111a29; }
.headerContent{.centerBox();height: 243px; background: url("../img/header-bg.jpg") no-repeat right top; display: table; width: 100%;

	.textBox{ display: table-cell; vertical-align: middle; 
		.welcome{font-size:44px; color: #fff; }
		.address{font-size:16px; text-transform: uppercase; color: #bfd4de; line-height: 48px;}
		.date{font-size:30px; color: #fff}
	}
}

.content {
	padding-bottom: @footerHeight;
	.infoString{ 
		background: @infoStringBackground;
		.info{.centerBox();line-height: 77px;font-weight: bold; font-size: 28px; padding-left:23px; color: #364654; background: @infoStringBackground }
	}
	.form2{.centerBox(); padding: 38px 0px 46px}
	.form2{
		.formInformation{padding:0px 0px 60px 23px; font-style: italic}
		.inputItem{float: left; width: 50%; margin-bottom: 33px; min-width: 400px}
	
		.inputItem INPUT, SELECT{width: 55%;margin-left: 5%;background: #fff;display:block; float: right; border: 1px solid #ccc; box-shadow: inset 1px 2px 3px rgba(220,220,220,0.5); height: 50px; box-sizing:border-box; padding: 10px; font-size: 20px; behavior:url("pie.htc") }
		.inputItem SELECT OPTION{height: 50px; background: #fff; box-sizing: border-box; padding: 10px}
		.inputItem INPUT[required] + LABEL:AFTER, SELECT[required] + LABEL:AFTER {content: "*";}
		BUTTON{ background: #364654; height: 43px; /*display: block; clear: both;margin: 30px 0px 0px 53px;*/ border: none; text-align: center; text-transform: uppercase; color: #fff;  padding: 0 18px; /*border-radius: 5px;*/}
		LABEL{font-weight: bold; width: 35%; color: #364654; font-size: 20px; line-height: 50px; text-transform: capitalize; text-align: right; display: block; float: right;}
		.btn_left_border{ background: url("../img/btn-left-border.png") left top no-repeat; padding-left: 4px;  clear: both; margin-left: 53px}
		.btn_right_border{background: url("../img/btn-right-border.png") right top no-repeat; padding-right: 4px; display: inline-block;}
	}
}

.footer{ 
	height:@footerHeight; margin-top:-@footerHeight; background: @footerBackground; box-sizing:border-box;
	.copy{width: 50%; float: left; color: #fff; font-size: 18px;line-height: @footerHeight;}
	.footerMenu{
		width: 50%; float: right; text-align: right; text-transform: capitalize; line-height: @footerHeight; 
		A{color:#fff; text-decoration: underline;padding-left: 25px}
		A:HOVER{text-decoration: none;}
	}
}
.footerBox{.centerBox(); background: @footerBackground;}
/*
.select {background: url("../img/btn.png") no-repeat right; overflow: hidden; width: 55%;border: 1px solid #ccc; box-shadow: inset 1px 2px 3px rgba(220,220,220,0.5); float: right; margin-left: 5%}
.content .select  SELECT{ background: transparent; width: 110%; margin: 0; display: inline; float: none; border: none; box-shadow: none;}
*/