/* footer height */
html,
body {
  height: 100%;
  background: #fff;
  font-family: "Arial";
}
.cl {
  clear: both;
}
.main {
  min-height: 100%;
  box-sizing: border-box;
}
.header {
  background: #111a29;
}
.headerContent {
  max-width: 1000px;
  box-sizing: border-box;
  margin: 0px auto;
  height: 243px;
  background: url("../img/header-bg.jpg") no-repeat right top;
  display: table;
  width: 100%;
}
.headerContent .textBox {
  display: table-cell;
  vertical-align: middle;
}
.headerContent .textBox .welcome {
  font-size: 44px;
  color: #fff;
}
.headerContent .textBox .address {
  font-size: 16px;
  text-transform: uppercase;
  color: #bfd4de;
  line-height: 48px;
}
.headerContent .textBox .date {
  font-size: 30px;
  color: #fff;
}
.content {
  padding-bottom: 70px;
}
.content .infoString {
  background: #bfd4de;
}
.content .infoString .info {
  max-width: 1000px;
  box-sizing: border-box;
  margin: 0px auto;
  line-height: 77px;
  font-weight: bold;
  font-size: 28px;
  padding-left: 23px;
  color: #364654;
  background: #bfd4de;
}
.content .form2 {
  max-width: 1000px;
  box-sizing: border-box;
  margin: 0px auto;
  padding: 38px 0px 46px;
}
.content .form2 .formInformation {
  padding: 0px 0px 60px 23px;
  font-style: italic;
}
.content .form2 .inputItem {
  float: left;
  width: 50%;
  margin-bottom: 33px;
  min-width: 400px;
}
.content .form2 .inputItem INPUT,
.content .form2 SELECT {
  width: 55%;
  margin-left: 5%;
  background: #fff;
  display: block;
  float: right;
  border: 1px solid #ccc;
  box-shadow: inset 1px 2px 3px rgba(220, 220, 220, 0.5);
  height: 50px;
  box-sizing: border-box;
  padding: 10px;
  font-size: 20px;
  behavior: url("pie.htc");
}
.content .form2 .inputItem SELECT OPTION {
  height: 50px;
  background: #fff;
  box-sizing: border-box;
  padding: 10px;
}
.content .form2 .inputItem INPUT[required] + LABEL:AFTER,
.content .form2 SELECT[required] + LABEL:AFTER {
  content: "*";
}
.content .form2 BUTTON {
  background: #364654;
  height: 43px;
  /*display: block; clear: both;margin: 30px 0px 0px 53px;*/
  border: none;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  padding: 0 18px;
  /*border-radius: 5px;*/
}
.content .form2 LABEL {
  font-weight: bold;
  width: 35%;
  color: #364654;
  font-size: 20px;
  line-height: 50px;
  text-transform: capitalize;
  text-align: right;
  display: block;
  float: right;
}
.content .form2 .btn_left_border {
  background: url("../img/btn-left-border.png") left top no-repeat;
  padding-left: 4px;
  clear: both;
  margin-left: 53px;
}
.content .form2 .btn_right_border {
  background: url("../img/btn-right-border.png") right top no-repeat;
  padding-right: 4px;
  display: inline-block;
}
.footer {
  height: 70px;
  margin-top: -70px;
  background: #364654;
  box-sizing: border-box;
}
.footer .copy {
  width: 50%;
  float: left;
  color: #fff;
  font-size: 18px;
  line-height: 70px;
}
.footer .footerMenu {
  width: 50%;
  float: right;
  text-align: right;
  text-transform: capitalize;
  line-height: 70px;
}
.footer .footerMenu A {
  color: #fff;
  text-decoration: underline;
  padding-left: 25px;
}
.footer .footerMenu A:HOVER {
  text-decoration: none;
}
.footerBox {
  max-width: 1000px;
  box-sizing: border-box;
  margin: 0px auto;
  background: #364654;
}
/*
.select {background: url("../img/btn.png") no-repeat right; overflow: hidden; width: 55%;border: 1px solid #ccc; box-shadow: inset 1px 2px 3px rgba(220,220,220,0.5); float: right; margin-left: 5%}
.content .select  SELECT{ background: transparent; width: 110%; margin: 0; display: inline; float: none; border: none; box-shadow: none;}
*/
